---
http_interactions:
- request:
    method: get
    uri: http://apitest.retailigence.com/v2.1/locations?userlocation=37.3323%2C-122.0312&requestorid=test&keywords=Volkswagen&apikey=<API_KEY>&format=JSON
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"RetailigenceAPIResult\":{\"id\":\"1adf81b9-b4d4-4d8b-ba64-26061e985f44\",\"results\":[{\"Retailer\":{\"id\":\"91022948-671b-4a76-a61e-3fee8a7e68ca\",\"logo\":\"http:\\/\\/bi2.retailigence.com\\/img\\/logo\\/frys-120x30.jpg\",\"phs\":1,\"locations\":[{\"Location\":{\"id\":\"781b9554-3279-40a2-83b2-ebd51ce6be58\",\"timezone\":\"America\\/Los_Angeles\",\"distance\":{\"distance\":3.683537289443949,\"units\":\"miles\"},\"phone\":\"4086171300\",\"tnavLink\":\"http:\\/\\/apps.scout.me\\/v1\\/driveto?dt=1077+E+Arques+Ave+Sunnyvale+CA+94085@37.380241,-122.00187&token=s6iLlaxu-k6-J92rQBlaPvozpxUPAAPhbIlKgFy5X_XcyFLYv6iVIkXH4rOPIvZDR1duzTMYCzrFYAMkx2Q3RILIva9TGKubnreoRxaAv_2uRGGItiCo-FJA9sJA9EPtSO70OFeu7LDg06EZxiQjxU_CKNfi76c_-ImDVGNCocQ&name=Frys+-+Sunnyvale\",\"location\":{\"longitude\":-122.00187,\"latitude\":37.380241},\"address\":{\"postal\":\"94085\",\"state\":\"CA\",\"address1\":\"1077
        E Arques Ave\",\"country\":\"US\",\"city\":\"Sunnyvale\"},\"mapLink\":\"http:\\/\\/maps.google.com\\/maps?q=1077+E+Arques+Ave+Sunnyvale+CA+94085\",\"name\":\"Frys
        - Sunnyvale\",\"retailer\":{\"id\":\"91022948-671b-4a76-a61e-3fee8a7e68ca\",\"logo\":\"http:\\/\\/bi2.retailigence.com\\/img\\/logo\\/frys-120x30.jpg\",\"phs\":1,\"name\":\"Frys\",\"logosq\":\"http:\\/\\/bi2.retailigence.com\\/img\\/logo\\/frys-50x50.jpg\"},\"retlocationid\":\"12\"}},{\"Location\":{\"id\":\"f0309dc2-5e55-4a34-ae2c-4db52fb660ed\",\"timezone\":\"America\\/Los_Angeles\",\"distance\":{\"distance\":5.724921238543667,\"units\":\"miles\"},\"phone\":\"4083643700\",\"tnavLink\":\"http:\\/\\/apps.scout.me\\/v1\\/driveto?dt=600+E+Hamilton+Ave+Campbell+CA+95008@37.294242,-121.938667&token=s6iLlaxu-k6-J92rQBlaPvozpxUPAAPhbIlKgFy5X_XcyFLYv6iVIkXH4rOPIvZDR1duzTMYCzrFYAMkx2Q3RILIva9TGKubnreoRxaAv_2uRGGItiCo-FJA9sJA9EPtSO70OFeu7LDg06EZxiQjxU_CKNfi76c_-ImDVGNCocQ&nam[...]
