---
http_interactions:
- request:
    method: get
    uri: http://api.retailigence.com/v2.1/products?userlocation=37.3323%2C-122.0312&requestorid=test&keywords=nothingtoseehereguys&apikey=<API_KEY>&format=JSON
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"RetailigenceSearchResult\":{\"id\":\"a55de3ef-cb20-4ab9-9dc4-e4cc52aeb8ce\",\"count\":0,\"request\":{\"id\":\"a55de3ef-cb20-4ab9-9dc4-e4cc52aeb8ce\",\"zip\":\"95015\",\"keywords\":\"nothingtoseehereguys\",\"page\":1,\"userLocation\":\"37.3323,-122.0312\",\"pageSize\":10,\"longitude\":-122.0312,\"clientIp\":\"67.170.184.96\",\"latitude\":37.3323,\"strict\":0},\"serverId\":\"APP2\",\"messages\":[{\"APIError\":{\"description\":\"No
        Results Found\",\"code\":\"INFO_API_NO_RESULTS_FOUND\"}}],\"version\":\"v2.1\"}}"
      effective_url: http://api.retailigence.com/v2.1/products?userlocation=37.3323%2C-122.0312&requestorid=test&keywords=nothingtoseehereguys&apikey=<API_KEY>&format=JSON
  recorded_at: Sat, 15 Feb 2014 05:23:17 GMT
recorded_with: VCR 2.8.0
